In [2]:
import ccf2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import gc
import warnings
import lightgbm as lgb
import xgboost
from sklearn.model_selection import KFold,train_test_split,cross_validate
from sklearn.metrics import mean_squared_error as mse
from sklearn.grid_search import GridSearchCV
warnings.filterwarnings('ignore')

path = '../input/'

# load data

In [8]:
data = ccf2.loaddata(path)

In [9]:
data.head()

,adcode,bodyType,id,model,province,regMonth,regYear,popularity,carCommentVolum,newsReplyVolum,label,mt
0,310000,0,0,0,上海,1,2016,1479.0,11.0,106.0,292.0,1
1,530000,0,0,0,云南,1,2016,1594.0,11.0,106.0,466.0,1
2,150000,0,0,0,内蒙古,1,2016,1479.0,11.0,106.0,257.0,1
3,110000,0,0,0,北京,1,2016,2370.0,11.0,106.0,408.0,1
4,510000,0,0,0,四川,1,2016,3562.0,11.0,106.0,610.0,1

# feature

In [11]:
shift_feat = []

data['model_adcode'] = data['adcode'] + data['model']
data['model_adcode_mt'] = data['model_adcode'] * 100 + data['mt']
for i in [12]:  ## 平移12个月
    shift_feat.append('shift_model_adcode_mt_label_{0}'.format(i))
    data['model_adcode_mt_{0}'.format(i)] = data['model_adcode_mt'] + i
    data_last = data[~data.label.isnull()].set_index('model_adcode_mt_{0}'.format(i))
    data['shift_model_adcode_mt_label_{0}'.format(i)] = data['model_adcode_mt'].map(data_last['label'])

num_feat = ['regYear'] + shift_feat
cate_feat = ['adcode', 'bodyType', 'model', 'regMonth']

features = num_feat + cate_feat

In [13]:
features

['regYear',
 'shift_model_adcode_mt_label_12',
 'adcode',
 'bodyType',
 'model',
 'regMonth']

In [12]:
data.head()

,adcode,bodyType,id,model,province,regMonth,regYear,popularity,carCommentVolum,newsReplyVolum,label,mt,model_adcode,model_adcode_mt,model_adcode_mt_12,shift_model_adcode_mt_label_12
0,310000,0,0,0,上海,1,2016,1479.0,11.0,106.0,292.0,1,310000,31000001,31000013,NaN
1,530000,0,0,0,云南,1,2016,1594.0,11.0,106.0,466.0,1,530000,53000001,53000013,NaN
2,150000,0,0,0,内蒙古,1,2016,1479.0,11.0,106.0,257.0,1,150000,15000001,15000013,NaN
3,110000,0,0,0,北京,1,2016,2370.0,11.0,106.0,408.0,1,110000,11000001,11000013,NaN
4,510000,0,0,0,四川,1,2016,3562.0,11.0,106.0,610.0,1,510000,51000001,51000013,NaN

# 构建模型

## 拆分数据

In [18]:
train_idx = (data['mt'] <= 24)
test_idx = (data['mt'] > 24)

data['model_weight'] = data.groupby('model')['label'].transform('mean') 
data['n_label'] = data['label'] / data['model_weight'] # 把目标标准化

train_x = data[train_idx][features]
train_y = data[train_idx]['n_label']

# valid_idx = (data['mt'].between(21, 24))
# valid_x = data[valid_idx][features]
# valid_y = data[valid_idx]['n_label']

## cv 交叉验证

In [17]:
# kfold = KFold(n_splits=5)
random_seet = 2020
kfold = StratifiedKFold(n_splits=5, random_state=random_seed, shuffle=True)
baseloss = []
loss = 0 

res_prob = pd.DataFrame()
res = pd.DataFrame()
for i, (train_idx, test_idx) in enumerate(kfold.split(train_x,train_y)):
    print('Kflod:',i)
    lgb_model = lgb.LGBMRegressor(
        num_leaves=32, reg_alpha=1, reg_lambda=0.1, objective='mse',
        max_depth=-1, learning_rate=0.05, min_child_samples=5, random_state=np.random.randint(1000),
        n_estimators=5000, subsample=0.8, colsample_bytree=0.8,
    )
    lgb_model.fit(train_x[train_idx],train_y['n_label'], 
                  eval_set=[(train_x[train_idx],train_y[train_idx]),(train_x[test_idx],train_y[test_idx])],
                  categorical_feature=cate_feat, 
                  early_stopping_rounds=100, 
                  verbose=100)

(25344,) (6336,)
(25344,) (6336,)
(25344,) (6336,)
(25344,) (6336,)
(25344,) (6336,)

In [ ]:
data['pred_label'] = lgb_model.predict(data[features]) * data['model_weight']